<!DOCTYPE html>
<html>
<head>
  <title>Merged Content</title>
  <link rel="icon" href="https://cdn.glitch.global/74966f89-6b4a-4631-ad79-95f11a65e0dd/logo7.jpg?v=1697534616110" type="icon-x/image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />
  <style>
    /* Apply a CSS reset to remove default padding and margin */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Apply a dark theme background */
    body {
      background-color: black;
      color: #fff;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 260vh;
    }

    /* Define a grid container for the hotels */
    ul.hotels-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Three columns per row */
      grid-gap: 30px; /* Spacing between items */
      list-style: none;
      padding: 0;
      justify-content: space-evenly; /* Space between columns */
      align-items: center; /* Center-align the container */
      max-width: 1200px; /* Limit the container width */
    }
  
    /* Style each hotel item (flex container) */
    li.hotel {
      background-color: #333; /* Dark background color */
      border: 1px solid white; /* Dark border color */
      border-radius: 30px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; /* Center-align the contents */
      align-items: center; /* Center-align the contents */
      min-height: 520px;
      width: 400px;
      /* Ensure a minimum height for each container */
    }

    /* Media query for responsiveness */
    @media (max-width: 500px) {
      ul.hotels-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Full width on smaller screens */
      }
    }

    /* Text color for h1 element */
    h1 {
      color: white;
      font-size: 18px;
      margin: 20px 0;
    }

    /* Style for h2 element */
    h3 {
      color: red;
      /* background-color: black; */
      font-size: 24px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }

    /* Style for p elements */
    p {
      font-size: 18px;
      text-align: center;
    }

    /* Style for images */
    img {
      display: block;
      margin: 0 auto;
      border-radius: 30px;
      border: 3px solid black;
    }
    
   


    #name {
      height: 50px;
      text-align: center;
      width: 410px;
      margin-top: 20px;
      
    }

    label {
      font-weight: bolder;
      font-size: larger;
      font-family: 'Times New Roman', Times, serif;
    }

    .btn {
      height: 30px;
      width: 80px;
      /* background-color: #ffffff; */
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;

    }
    
    .btn:hover{
      border: 2px solid white;
      background-color: black; 
      color: #CCCCCC;
      height: 35px;
      width: 85px;
      transition-duration: 1s;
    }

    nav {
      background-color: black;
      width: 100vw;
      height: 10vh;
      top: 0px;
      left: 0px;
      position: fixed;
    }

    .options {
      color: white;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 50vw;
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .options li,
    .dona-btn a {
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bolder;
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .options li a:hover,
    .dona-btn a:hover {
      color: black;
      background-color: white;
      height: 9vh;
      border-radius: 10%;
      transition: 1s;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    nav li {
      list-style: none;
    }

    nav ul li a {
      font-size: 20px;
      text-decoration: none;
      color: white;
    }

    .name{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
            font-family: lucida Calligraphy;
            margin-top: 2vh;
            margin-left: 3vw;
            font-size: 35px;

            
        }
        .name1{
            color: red;

        }
        .name2{
            color: white;
        }

    .dona-btn {
      width: 100%;
      background-color: rgb(0, 0, 0);
    }

    .dona-btn a {
      width: 100%;
      height: 100%;
      color: rgb(255, 255, 255);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bolder;
      height: 10vh;
      background-color: rgb(0, 0, 0);
      font-size: 20px;
      text-decoration: none;
    }

    .drop .donation-content {
      font-size: 16px;
      border: none;
      outline: none;
    }

    .donation-content {
      display: none;
      position: absolute;
      background-color: #686363;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: -20px;
      margin-left: 30px;
    }

    .donation-content a {
      float: none;
      background-color: rgb(71, 67, 67);
      color: rgb(255, 255, 255);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bolder;
      font-size: 19px;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .donation-content a:hover {
      color: black;
      background-color: rgba(88, 81, 81, 0);
      border-radius: 10%;
      transition: 1s;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .drop:hover .donation-content {
      display: block;
    }

    .logod {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: 1px solid white;
    }





    
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

    .slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: 22px; */
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.651);
      
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.slide-container .prev {
  left: 40px;
    

}


.slide-container .next {
  right: 40px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.dots-container .dot.active {
  border: 2px solid red;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1700px;
  margin: auto;
  /* position: relative; */
/* background-color: red; */
    height: 70vh;
    width: 95vw;
    margin-top: 20vh;
    
    border-radius: 0px;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

.imgc1 {
    height: 700px;
    width: 1700px;
    border-radius: 0px 0px 30px 30px;
    border: 2px solid white;

    
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 95vw;
    margin-bottom: 10vh;

    /* border: 0px solid black; */
    /* background-color: aqua; */
    margin-top: 40vh;  
    /* position: relative; */
    
    
    
  }
  
  .bottom{
  box-shadow: 3px 0px 25px rgb(255, 255, 255),3px 0px 25px rgb(255, 255, 255);
    /* top:800px; */
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:0px;
    margin-bottom: 10vh;
    width: 95vw;
    height: 245vh;
}
.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 500vh; */
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    /* border: 2px solid rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    height: 30vh;
    width: 95vw;
    border-radius: 10px;
    
    
}
.content_p{
  /* border: 2px solid rgb(255, 255, 255); */
  height: 30vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   border-radius: 50%;
   font-size: 25px;
   padding: 10px 30px 10px 30px;

}
.place_name{
    font-size: 40px;
    font-family: Lucida Calligraphy;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
footer{
            border:  2px solid black;
            width: 100vw;
            height: 460px;

            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-evenly;
            background-color: white;
            margin-top: 8vh;
        }
        .foot{
            display: flex;
            flex-direction: row;

        }
        
        #rec,#oth{
            height: 260px;
            width: 500px;
            
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* align-items; */
            color: #000;

            

        }
       
        .name11{
            font-size: 30px;
            text-align: center;


        }
        
        .c1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .c2{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            align-items: center;
            margin-bottom: 20px;
        }
        i{
            font-size: 40px;
            
        }
        #tw{
            color: rgba(57,147,235,255);
        }
        #em{
            color:rgba(248,68,55,255) ;
        }
        #gi{
            margin-left: 10px;
            color: rgba(0,0,0,255);
        }
        #li{
            margin-left: 20px;
            color:rgba(0,123,181,255) ;
        }

        #wh{
            color:rgb(54, 187, 34);
        }
        #ph{
            color:rgba(0,0,0,255) ;
        }
        #fa{
            color:rgba(24,119,242,255) ;
        }
        #in{
            margin-left: 5px;
            color:rgba(154,76,195,255);
        }
        #tw:hover ,#em:hover ,#gi:hover ,#li:hover ,#wh:hover ,#ph:hover ,#fa:hover ,#in:hover{
            font-size: 53px;
            transition: 2s;
        }
        .slide h1{
          position: absolute;
          top:80px;
          left: 50px;
          font-size: 30px;
          font-family:'Times New Roman', Times, serif;
          background-color: black;
        }
        

  </style>
</head>
<body>
    <div class="whole">
      <div class="top">
        <nav>
            <ul>
              <li class="name"><span class="name1">Explore</span> <span class="name2">Epic</span><span class="name1">...</span></li>
                <div class="options">
                    <li><a class="active" href="/home" target="_self" title="Home">Home</a></li>
                    <li><a class="active" href="/explore" target="_self" title="Explore Tirupati">Explore</a></li>
                    <div class="drop">
                        <p class="dona-btn" ><a class="active" class="dona-btn-a" href="/nearby" target="_self" title="Nearby Places to VISIT">Nearby</a></p>
                        <div class="donation-content">
                            <a href="/chikkamagaluru">Chikkamagaluru</a>
                            <a href="/coimbatore">Coimbtore</a>
                            <a href="/kanchi">Kanchi</a>
                            <a href="/madhurai" >Madhurai</a>
                            <a href="/madikeri">Madikeri</a>
                            <a href="/mysore"> Mysore</a>
                            <a href="/padmanaba">Anantha Padmanaba </a>
                            <a href="/sriharikota">Sri Hari Kota  </a>
                            <a href="/wayanad">Wayanad</a>

                        </div>
                    </div>
                    <li><a class="active" href="/transport" target="_self" title="Tranport Facility">Transport</a></li>
                    <li><a class="active" href="/contact"target="_self" title="In order to Contact us">Contact</a></li>
                </div>
            </ul>
        </nav>
    </div>
        <div id="middle">
            <div class="slide-container">
              <div class="slide fade">
                <h1>Adiyogi - The Source of Yoga</h1>
                <img class="imgc1" src="https://facts.net/wp-content/uploads/2023/07/49-facts-about-coimbatore-1688360759.jpeg" alt=''>
              </div>
              <div class="slide fade">
                <h1>Velliangiri Hills</h1>
                <img class="imgc1" src="https://res.cloudinary.com/chasset/hbimages/desktop/1530688259485-Coimbatore.jpg" alt=''>
              </div>
            <div class="slide fade">
                <h1> Siruvani WaterFalls</h1>
                <img class="imgc1" src="https://www.tamilnadutourism.tn.gov.in/img/pages/large-desktop/coimbatore-1655999210_9c2cb848386c10e17c0d.webp" alt=''>
              </div>
              <div class="slide fade">
                <h1>TNAU Botanical Garden</h1>
                <img class="imgc1" src="https://lh3.googleusercontent.com/p/AF1QipM2-06-HKoTvNUcNXF_I0Q7JyjvRVViGLWV__B1=s1360-w1360-h1020" alt=''>
              </div>
          <div class="slide fade">
            <h1>Police Museum</h1>
            <img class="imgc1" src="https://image-timescontent.timesgroup.com/thumb/513275.webp" alt=''>
          </div>
            
    
            <a href="#" class="prev" title="Previous">&#10094</a>
            <a href="#" class="next" title="Next">&#10095</a>
            </div>
            <div class="dots-container">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="content">
              <p class="content_p">
                <b>
                  "Coimbatore, the Manchester of South India, is a bustling and industrious city nestled in the 
                state of Tamil Nadu. It offers a unique blend of urban development, industrial progress, and 
                natural beauty."
                </b>

                Coimbatore, often referred to as Kovai, is a city with a rich history and a vibrant present.
                 It serves as an important economic and cultural hub in the southern region of India.
              </p>
          </div>
        </div>
        
        <div class="bottom">
            <h1 class="place_name">Coimbatore Hotels</h1>
            <ul class="hotels-container">
                <% hotels.forEach((hotel) => { %>
                <li class="hotel">
                    <div id="name">
                    <h3 ><%= hotel.name %></h3>
                    
                    </div>
                    <img class="hotels_img" src="<%= hotel.image %>" alt="Hotel Image" width="300" height="200">
                    <p><label>Location&nbsp;:&nbsp;&nbsp;&nbsp;</label><%= hotel.location %></p>
                    <p><label>Type&nbsp;:&nbsp;&nbsp;</label><%= hotel.type || 'Hotel' %></p>
                    <p><label>Rating&nbsp;:&nbsp;&nbsp;</label><%= hotel.rating %></p>
                    <p><label>Price per Night&nbsp;:&nbsp;&nbsp;</label><%= hotel.price_per_night %></p>
                    <p><label>Coupon Code&nbsp;:&nbsp;&nbsp;</label><%= hotel.coupon_code %></p>
                    <a href="http://localhost:3003/contact"><button class="btn">Book Now</button></a>
                    
                
                </li>
                <% }); %>
            </ul>
        </div>

    </div>
    <footer>
      <div><center><h1 style="color:black; font-size: xx-large;">... Get in Touch</h1></center>
      </div>
      <div class="foot">
        <div id="rec">
          <p class="name11"><strong>Recommeended</strong></p>
          
          <div class="c2">
              <div class="c1">
                  <a href="https://twitter.com/A1264M"><i class="fa-brands fa-square-twitter" id="tw"></i></a>
                  <em>kundhumaddisetti</em>
              </div>
          
              <div class="c1">
                  <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fa-regular fa-envelope" id="em"></i></a>
                  <em>moni2003@gmail.com</em>
              </div>
          </div>
          
          <div class="c2">
              <div class="c1">
                  <a href="https://github.com/kundhanamaddisetti"><i class="fa-brands fa-github" id="gi"></i></a>
                  <em>kundhanamaddisetti</em>
              </div>
  
              <div class="c1">
                  <a href="https://www.linkedin.com/in/kundhana-lalitha-naga-sri-maddisetti-197b73239/"><i class="fa-brands fa-linkedin" id="li"></i></a>
                  <em>Kundhana</em>
              </div>
          </div>
          

          
      </div>
      
      <div id="oth">
          <p class="name11"><strong>Other methods</strong></p>
          <div class="c2">
              <div class="c1">
                  <a href="#"><i class="fa-brands fa-square-whatsapp" id="wh"></i></a>
                  <em>xxxxx 18101</em>
              </div>
              <div class="c1">
                  <a href="#"><i class="fa-solid fa-phone" id="ph"></i></a>
                  <em>xxxxx 18101</em>
              </div>
          </div>
          
          
          <div class="c2">
              <div class="c1">
                  <a href="https://www.facebook.com/profile.php?id=100075638365796&mibextid=ZbWKwL"><i class="fa-brands fa-facebook" id="fa"></i></a>
                  <em>Parameswari Jagarlamudi</em>
              </div>
              <div class="c1">
                  <a href="https://instagram.com/kundhuu19?utm_source=qr&igshid=OGU0MmVlOWVjOQ=="><i class="fa-brands fa-instagram" id="in"></i></a>
                  <em>kundhana</em>
              </div>
          </div>
      </div>
      </div>
 </footer>




  <script>
        let currentSlide = 0;
        const slides = document.querySelectorAll(".slide");
        const dots = document.querySelectorAll(".dot");

        const init = (n) => {
        slides.forEach((slide, index) => {
        slide.style.display = "none";
        dots.forEach((dot, index) => {
        dot.classList.remove("active");
        });
        });
        slides[n].style.display = "block";
        dots[n].classList.add("active");
        };
        document.addEventListener("DOMContentLoaded", init(currentSlide));
        const next = () => {
        currentSlide >= slides.length - 1 ? (currentSlide = 0) : currentSlide++;
        init(currentSlide);
        };

        const prev = () => {
        currentSlide <= 0 ? (currentSlide = slides.length - 1) : currentSlide--;
        init(currentSlide);
        };

        document.querySelector(".next").addEventListener("click", next);

        document.querySelector(".prev").addEventListener("click", prev);

        setInterval(() => {
        next();
        }, 5000);

        dots.forEach((dot, i) => {
        dot.addEventListener("click", () => {
        console.log(currentSlide);
        init(i);
        currentSlide = i;
        });
        });
    </script>
</body>
</html>









    <div class="slide-container">
        

      
